* {
  font-family: "Times New Roman", Times, serif;
}
header {
  /* background-image: url(../images/backgorund.webp);
background-position: center;
background-repeat: no-repeat;
background-size: cover; */
}
#login {
  color: white;
}
nav {
}
header li a {
  background-color: black;
}

header li a:hover {
  background-color: red;
}
header li a:visited {
  background-color: blue;
}

footer li a {
  background-color: aqua;
}

footer li a:hover {
  background-color: purple;
}

footer li a:visted {
  background-color: green;
}

nav div {
}
nav li {
}

div {
}
legend {
}

div label {
}

div input {
}

body {
}

main {
}
div p {
}

img {
}

footer {
}
footer nav {
}

address {
}

form {
}
textarea {
}
